 .explore{
        width: 100%;
        height: 850px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 5px;
        position: relative;
    }

    .explore::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-image: url("../resources/TheThao.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.5;
        z-index: -1;
    }

    .explore_text{
        padding: 5px;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        font-size: 1.5rem;
        text-align: center;

        h2{
            width: 500px;
        }

        p{
            width: 600px;
        }
    }
