:root{
    --primary-color: #007bff;       
    --primary-hover: #0056b3;      
    --secondary-color: #6c757d;    
    --secondary-hover: #545b62;
    --white-color: #ffffff;    
    --black-color: #000000;

    --success-color: #28a745;       
    --danger-color: #dc3545;        
    --warning-color: #ffc107;       
    --info-color: #17a2b8;
    --gray-color: rgb(121 111 111 / 70%);
    --secondary-black-color: rgb(96 79 79 / 37%);
    --secondary-gray-color:  rgb(213 211 211 / 70%);
}
